<!DOCTYPE html>
<html lang="en" style="height: calc(100% - 40px)">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>管理</title>
  <link rel="stylesheet" type="text/css" href="http://unpkg.com/view-design/dist/styles/iview.css">
  <script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>
  <script type="text/javascript" src="http://unpkg.com/view-design/dist/iview.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <style>
  .ivu-card-body{
    height: 100%
  }
  .ivu-tabs-content{
    height: calc(100% - 50px);
  }
  .ivu-tabs-tabpane {
    height: calc(100% - 10px);
    overflow: auto;
  }
  </style>
</head>
<body style="height: 100%;">
<div id="app" style="margin:20px; height:100%">
  <Card style="height: 100%;">
  <Tabs value="user" style="height: 100%;">
    <tab-pane label="用户" name="user">
      <i-table :columns="columns" :data="data">
      </i-table>
    </tab-pane>
    <tab-pane label="日志" name="log">
      <div id="logs" style="height: 100%; overflow: auto;">
        <p v-for="(line, i) in log" v-text="line" v-key="i"></p>
      </div>
    </tab-pane>
    <tab-pane label="操作" name="operation">
      <i-button type="primary" @click="saveConf">保存服务配置</i-button>
      <Poptip
        confirm
        title="确定要重启openvpn服务吗?"
        @on-ok="command('restart')">
        <i-button type="primary">重启openvpn服务</i-button>
      </Poptip>
      <i-input type="textarea" :autosize="{minRows: 3,maxRows: 40}" v-model="conf_content"></i-input>
    </tab-pane>
    <tab-pane label="管理" name="admin" style="height: 100%;">
        <i-button type="primary" @click="connectManage">连接</i-button>
        <i-button type="primary" @click="disconnectManage">断开</i-button>
        <div id="manage_log" style="height: calc(100% - 70px); overflow: auto;color: white;background-color: black;">
          <pre v-for="(line, i) in manage_log" v-text="line" v-key="i"></pre>
        </div>
        <i-input type="text" v-model="cmd" @on-enter="sendCommand"></i-input>
    </tab-pane>
    <template slot='extra'>
      <form method='post' action="/auth/logout">
        <button type="submit" class="ivu-btn ivu-btn-submit">注销</button>
      </form>
    </template>
  </Tabs>
  </Card>
<Drawer
    :title="drawer.title"
    v-model="drawer.modal"
    width="400"
    :mask-closable="false"
    :styles="styles"
>
<i-form :model="formData">
  <form-item label="用户名">
      <i-input v-model="formData.username" placeholder="输入用户名" :disable="drawer.username"/>
  </form-item>
  <form-item label="密码">
      <i-input v-model="formData.password" type="password" placeholder="输入密码" />
  </form-item>
</i-form>
<div>
    <i-button style="margin-right: 8px" @click="cancel">取消</i-button>
    <i-button type="primary" @click="save">保存</i-button>
</div>
</Drawer>
<Drawer
    title="连接日志"
    v-model="log_drawer"
    width="1080"
    :mask-closable="false"
    :styles="styles"
>
  <i-table :columns="log_columns" :data="connect_log">
  </i-table>
</Drawer>
<Drawer
    :title="'客户配置-'+ ccd.username"
    v-model="ccd.modal"
    width="500"
    :mask-closable="false"
    :styles="styles"
>
<span># 为指定的客户端分配指定的IP地址，或者客户端背后也有一个私有子网想要访问VPN，
  # 那么你可以针对该客户端的配置文件使用ccd子目录。
  # (简而言之，就是允许客户端所在的局域网成员也能够访问VPN)

  # 举个例子：假设有个Common Name为"Thelonious"的客户端背后也有一个小型子网想要连接到VPN，该子网为192.168.40.128/255.255.255.248。
  # 首先，你需要去掉下面两行指令的注释：
  ;client-config-dir ccd
  ;route 192.168.40.128 255.255.255.248
  # 然后创建一个文件ccd/Thelonious，该文件的内容为：
  #     iroute 192.168.40.128 255.255.255.248
  #这样客户端所在的局域网就可以访问VPN了。
  # 注意，这个指令只能在你是基于路由、而不是基于桥接的模式下才能生效。
  # 比如，你使用了"dev tun"和"server"指令。

  # 再举个例子：假设你想给Thelonious分配一个固定的IP地址10.9.0.1。
  # 首先，你需要去掉下面两行指令的注释：
  ;client-config-dir ccd
  ;route 10.9.0.0 255.255.255.252
  # 然后在文件ccd/Thelonious中添加如下指令：
  #   ifconfig-push 10.9.0.1 10.9.0.2
  </span>
<i-input type="textarea" :autosize="{minRows: 3,maxRows: 6}" v-model="ccd.content"></i-input>
<i-button type="primary" @click="saveCcd()" long>保 存</i-button>
</Drawer>
</div>
</body>
<script>
  (function(){
    new Vue({
      el: "#app",
      data() {
        return {
          drawer: {
            modal: false,
            title: '',
            username: true,
            create: true,
            userid: null,
          },
          formData: {
            username: '',
            password: ''
          },
          styles: {
            height: 'calc(100% - 55px)',
            overflow: 'auto',
            paddingBottom: '53px',
            position: 'static'
          },
          columns: [
            {title: '用户名', key: 'username'},
            {title: '在线', key: 'online', render: (h, params) => {
              return h('i-switch', {
                props: {
                  value: params.row.online,
                  disabled: true,
                  size: 'small'
                }
              })
            }},
            {title: '分配IP地址', key: 'ip'},
            {title: '远端IP', key: 'trusted_host'},
            {title: '更新时间', key: 'last_online_at'},
            {title: '创建时间', key: 'create_at'},
            {title: '操作', key: 'xx',
              render: (h, params) => {
                return [h('Poptip', {
                    props: {
                      confirm: true,
                      title: '你确定要删除该用户吗？',
                      placement: "left"
                    },
                    on :{
                      'on-ok': () => {
                        const id = params.row.id
                        axios.delete('/api/user/'+id).then(()=>{
                          this.$Message.info('删除成功')
                          this.init()
                        }).catch(err => {
                          this.$Message.error(err)
                        })
                      }
                    }
                  },[
                    h('Button', {
                      props: {
                        type: 'error',
                        size: 'small'
                      }
                    }, "删除")
                  ]), h('Button', {
                    props: {
                      type: 'primary',
                      size: 'small'
                    },
                    on: {
                      click: () => {
                        const item = params.row
                        this.formData = {username:item.username, password:''}
                        this.drawer.create = false
                        this.drawer.userid = item.id
                        this.drawer.title = '修改密码'
                        this.drawer.modal = true
                      }
                    }
                  }, "修改密码"), h('Button', {
                    props: {
                      type: 'primary',
                      size: 'small'
                    },
                    on: {
                      click: () => {
                        const item = params.row
                        this.$Message.info('not implemented')
                      }
                    }
                  }, "断开连接"), h('Button', {
                    props: {
                      type: 'primary',
                      size: 'small'
                    },
                    on: {
                      click: () => {
                        const item = params.row
                        axios.get('/api/log?order_by=-id&username='+item.username).then(res =>{
                          this.connect_log = res.data
                          this.log_drawer = true
                        }).catch(err => {
                          this.$Message.error(err)
                        })
                      }
                    }
                  }, "连接日志"), h('Button', {
                    props: {
                      type: 'primary',
                      size: 'small'
                    },
                    on: {
                      click: () => {
                        const item = params.row
                        this.ccd.username = item.username
                        axios.get('/api/ccd?username='+item.username).then(res => {
                          this.ccd.content = res.data
                          this.ccd.modal = true
                        }).catch(err => {
                          this.$Message.error(err)
                        })
                      }
                    }
                  }, "CCD")
                ]
              },
              renderHeader:(h)=>{
                return [h('Icon', {
                  props: {
                    type:'ios-add-circle-outline',
                    size: 24
                  },
                  'class': 'pointer',
                  on: {
                    click: () => {
                      this.drawer.title = '创建用户'
                      this.drawer.create = true
                      this.formData = {username:'', password:''}
                      this.drawer.modal = true
                    }
                  }
                }),h('Icon', {
                  props: {
                    type:'ios-cloud-download',
                    size: 24
                  },
                  'class': 'pointer',
                  on: {
                    click: () => {
                      let link = document.createElement('a')
                      link.download = 'client.zip'
                      link.style.display = 'none'
                      link.href = '/download/client-config'
                      document.body.appendChild(link)
                      link.click()
                      document.body.removeChild(link)
                    }
                  }
                })]
              }
            }
          ],
          data: [],
          websocket: null,
          log: [],
          log_drawer:false,
          log_columns:[
            {title: '用户名', key: 'username', width: 100},
            {title: '分配IP', key: 'ip', width: 120},
            {title: '远程地址', key: 'trusted_host', width: 200},
            {title: '发送字节数', key: 'bytes_sent', width: 120, render: (h, params) => {
              const bytes = params.row.bytes_sent
              return h('span', this.human_bytes(bytes))
            }},
            {title: '接收字节数', key: 'bytes_received', width: 120, render: (h, params) => {
              const bytes = params.row.bytes_received
              return h('span', this.human_bytes(bytes))
            }},
            {title: '上线时间', key: 'online_time', width: 200},
            {title: '离线时间', key: 'offline_time', width: 200}
          ],
          connect_log: [],
          ccd: {
            modal: false,
            username: '',
            content: ''
          },
          conf_content: '',
          manage_log: [],
          cmd: ''
        }
      },
      mounted() {
        this.init()
        this.init_websocket()
      },
      methods: {
        init_websocket() {
          if (this.websocket && this.websocket < 2) {
            this.websocket.close()
          }
          const schema = window.location.protocol == 'http:' ? 'ws' : 'wss'
          const url = `${schema}://${window.location.host}/ws/notify`
          this.websocket_connecting = true
          const sock = new WebSocket(url)
          sock.onopen = () => {
            this.$Notice.open({
              title: '推送系统连接成功。'
            })
	        }
          sock.onerror = (error) => {
            console.log('websocket error')
          },
          sock.onmessage = (event) => {
            const msg = JSON.parse(event.data)
            switch(msg.type) {
              case 'log':
                this.log.push(msg.data)
                if (this.log.length > 200) {
                  this.log.shift()
                }
                this.scrollLog()
                break
              case 'update':
                this.$Notice.open(msg.msg)
                this.init()
                break
              case 'cmd_log':
                this.manage_log = [...this.manage_log, ...msg.data]
                while (this.manage_log.length > 200) {
                  this.manage_log.shift()
                }
                this.$nextTick(() => {
                  let div = document.getElementById('manage_log')
                  div.scrollTop = div.scrollHeight
                })
            }
          },
          sock.onclose = () => {
            this.$Notice.open({
              title: '推送系统连接中断，10s后重试！',
              duration: 3
            })
	          setTimeout(this.init_websocket, 10000)
          }
          this.websocket = sock
        },
        init() {
          axios.get('/api/user').then((res)=> {
            const resp = res.data
            this.data = resp
          }).catch(err => {
            this.$Message.error(err)
          })
          axios.get('/api/conf').then((res) => {
            this.conf_content = res.data
          }).catch(err => {
            this.$Message.error(err)
          }),
          axios.get('/api/init_log').then((res) => {
            this.log = res.data.data
            this.scrollLog()
          }).catch(err => {
            this.$Message.error(err)
          })
        },
        cancel() {
          this.formData = {}
          this.drawer.modal = false
        },
        save() {
          if (this.drawer.create) {
            axios.post('/api/user', this.formData).then(res => {
              this.$Message.info('添加成功')
              this.init()
            }).catch(err => {
              this.$Message.error(err)
            }).finally(()=>{
              this.cancel()
            })
          } else {
            const { password } = this.formData
            axios.patch('/api/user/'+ this.drawer.userid, {password}).then(res => {
              this.$Message.info('修改成功')
            }).finally(()=>{
              this.cancel()
            })
          }
        },
        human_bytes(bytes) {
          const arr = ['B', 'KB', 'MB', 'GB', 'PB']
          let bit = 0
          while (bytes > 1024) {
            bytes /= 1024
            bit += 1
          }
          bytes = bytes.toFixed(2)
          return bytes + arr[bit]
        },
        saveCcd () {
          const content = this.ccd.content
          axios.post('/api/ccd?username='+this.ccd.username, {content}).then(res => {
            this.$Message.info(res.data.msg)
            this.ccd.modal = false
          }).catch(err => {
            this.$Message.error(err)
          })
        },
        saveConf () {
          const content = this.conf_content
          axios.post('/api/conf', {content}).then(res => {
            this.$Message.info(res.data.msg)
          }).catch(err => {
            this.$Message.error(err)
          })
        },
        command (command) {
          axios.post('/api/openvpn/command', {command}).then(res => {
            this.$Message.info(res.data.msg)
          }).catch(err => {
            this.$Message.error(err)
          })
        },
        scrollLog() {
          this.$nextTick(()=>{
            let div = document.getElementById('logs')
            div.scrollTop = div.scrollHeight
          })
        },
        connectManage() {
          this.websocket.send(JSON.stringify({
            cmd: 'connect'
          }))
        },
        disconnectManage() {
          this.websocket.send(JSON.stringify({
            cmd: 'disconnect'
          }))
        },
        sendCommand() {
          this.websocket.send(JSON.stringify({
            cmd: 'command',
            data: this.cmd
          }))
          this.cmd = ''
        }
      }
    })
  })();
</script>
</html>
